body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #c9c9df;
}

.flex {
    display: flex;
}

div {
    width: 50%;
    padding: 4% 10%;
}

h1 {
    font-size: 50px;
    color: black;
}

p {
    font-weight: 595;
}

span {
    color: #65920b;
    text-shadow: #470d0d;
}

h3 {
    color: #a81b1b;
}

.link-button {
    color: whitesmoke;
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}

.exp-card {
    box-shadow: 10px 10px 40px red;
    border-left: 5px solid #df3a11;
}
box

footer {
    text-align: center;
    font-weight: bold;
}